In [2]:
name = "Ram"
number = len(name)*3
print("Hello {} , your luckey number is {}".format(name , number))

Hello Ram , your luckey number is 9

In [3]:
name = "Ram"
number = len(name)*3
print("your luckey number is {number} , {name}.".format(name = name , number = len(name)*3))

your luckey number is 9 , Ram.

In [4]:
price = 7.5
with_tax = price*1.09
print(price, with_tax)

7.5 8.175

In [6]:
price = 7.5
with_tax = price*1.09
print("Base price ${: 2f}. with Tax: $(:2f)".format(price, with_tax))

Base price $ 7.500000. with Tax: $(:2f)

In [12]:
def to_celsius(x):
    return (x - 32)*5/9

for x in range(0 , 101 , 10):
    print("{:>3} F | {:>.2f} c".format(x, to_celsius(x)))
    
    # in this two expression we're using the greate than operator to align text to the right so that 
    #the output is neatly aligned.

  0 F | -17.78 c
 10 F | -12.22 c
 20 F | -6.67 c
 30 F | -1.11 c
 40 F | 4.44 c
 50 F | 10.00 c
 60 F | 15.56 c
 70 F | 21.11 c
 80 F | 26.67 c
 90 F | 32.22 c
100 F | 37.78 c

In [17]:
def to_celsius(x):
    return (x - 32)*5/9

for x in range(0 , 101 , 10):
    print("{:>3} F | {:>6.2f} c".format(x, to_celsius(x)))

  0 F | -17.78 c
 10 F | -12.22 c
 20 F |  -6.67 c
 30 F |  -1.11 c
 40 F |   4.44 c
 50 F |  10.00 c
 60 F |  15.56 c
 70 F |  21.11 c
 80 F |  26.67 c
 90 F |  32.22 c
100 F |  37.78 c

In [1]:
# base string with {} placeholder.format(variable)

example = "Format() method"
formated_string = "This is an example using the {} on a string  ".format(example)
print(formated_string)

This is an example using the Format() method on a string

In [2]:
#"{0} {1}".format(first , second)
first = "apple"
second = "banana"
third = "carrot"

formatted_string = "{0} {2} {1}".format(first , second, third)
print(formatted_string)

apple carrot banana